# --- MOBILE APP FRONT -----------------------------------------------------------

# OSX
**/.DS_Store

# Xcode
mobile/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
mobile/xcuserdata
*.xccheckout
*.moved-aside
mobile/DerivedData
*.hmap
*.ipa
*.xcuserstate
mobile/project.xcworkspace

# Android/IntelliJ
mobile/build/
mobile/.idea
mobile/.gradle
mobile/local.properties
*.iml
*.hprof

# node.js
mobile/node_modules/
mobile/npm-debug.log
mobile/yarn-error.log

# BUCK
mobile/buck-out/
**/\.buckd/
*.keystore
!debug.keystore

# Bundle artifacts
*.jsbundle

# CocoaPods
mobile/ios/Pods/

# Expo
mobile/.expo/
mobile/web-build/
mobile/dist/

# --- NODE ------------------------------------------------------------------------

server/node_modules
server/.env
server/yarn-error.log